.icon-order {

    background: url('~images/pannel/icon_order.png') no-repeat 4px center;
}

.icon-desk {

    background: url('~images/pannel/icon_table.png') no-repeat 2px center;
}

.icon-meal {

    background: url('~images/pannel/icon_vegetables.png') no-repeat -1px center;
}

.icon-employ {

    background: url('~images/pannel/icon_employee.png') no-repeat 0px center;
}

.icon-custom {

    background: url('~images/pannel/icon_customer.png') no-repeat 0px center;
}

.icon-account {

    background: url('~images/pannel/icon_working.png') no-repeat 0px center;
}

.icon-collect {

    background: url('~images/pannel/icon_collection.png') no-repeat 4px center;
}

.icon-reward {

    background: url('~images/pannel/icon_red.png') no-repeat 4px center;
}